import(Rcpp)


export(read_edf)
S3method(print,edfRecording)

export(read_preamble)
S3method(print,edfR_preamble)

export(library_version)


useDynLib(edfR)

importFrom(dplyr, `%>%`)
importFrom(dplyr, filter)
importFrom(dplyr, mutate)
importFrom(dplyr, select)
